<!-- view/jobs.ejs -->

<div class="d-flex flex-column me-auto p-2">
  <h1 class="mt-5 mb-4 header">Jobs</h1>


    <!-- here are displaying all the jobs that posted in this application -->

    <div class="d-flex flex-wrap gap-3">
      <% if(jobs && jobs.length > 0){ %>
        <% jobs.forEach(job => { %>
          <div class="card mb-3" style="width: 19rem;">
              <div class="card-body">
                <h5 class="card-title">Company Name: <%= job.companyName %></h5>
                <h6 class="card-title">Job Role: <%= job.jobDesignation %></h6>
                <h6 class="card-title">Location: <%= job.jobLocation %></h6>
                <p class="card-text">Package: <%= job.salary %></p>
                <a style="margin-left: 73px;" href="/job/<%= job.id %>" class="btn btn-primary ">View Details</a>
              </div>
          </div>
        <% }) %>
      <% } %>
    </div>

    <!-- here are displaying all the jobs related to specific recruiter -->

    <div class="d-flex flex-wrap gap-3">
      <% if(recruiterJobs){ %>
        <% if(recruiterJobs.length > 0){ %>
            <% recruiterJobs.forEach(job => { %>
              <div class="card mb-3" style="width: 19rem;">
                <div class="card-body">
                  <h5 class="card-title">Comapany Name: <%= job.companyName %></h5>
                  <h6 class="card-title">Job Role: <%= job.jobDesignation %></h6>
                  <h6 class="card-title">Location: <%= job.jobLocation %></h6>
                  <p class="card-text">Package: <%= job.salary %></p>
                  <a style="margin-left: 73px" href="/job/<%= job.id %>" class="btn btn-primary ">View Details</a>
                  <div class="d-flex mt-3 justify-content-around">
                    <a href="/updatejob/<%= job.id %>" class="btn btn-primary d-block px-4">Edit Job</a>
                  <button class="btn btn-danger px-4" onclick="deleteJob('<%= job.id %>')">Delete Job</button>
                  </div>
                </div>
              </div>
            <% }) %>
        <% }else{ %>
              <h4>You haven't posted any job yet.</h4>
              <a href="/newjob" class="btn btn-primary">Create New Job</a>
        <% } %>
    <% }  %>
    </div>
</div>