<!-- view/viewJobDetails.ejs -->

<div style="min-width: 420px;" class="d-flex flex-column me-auto px-4 w-50">
    <h1 class="mt-4 mb-3 header">Job Details</h1>

    <% if(job) { %>
        <div class="border border-secondary-subtle p-3">
            <h4 class="mb-5">Company Name: <%= job.companyName %></h4>
            <h5>JobRole: <%= job.jobDesignation %></h5>
            <div class="mb-2"><strong>Location:</strong> <%= job.jobLocation %></div>
            <div class="mb-2"><strong>Package:</strong> <%= job.salary %></div>
            <div class="mb-2"><strong>Last Date of Apply:</strong> <%= job.applyBy %></div>
            <% if(job.skills){ %>

                <div class="d-flex flex-column">
                    <div><strong>Skills Required:</strong></div>
                    <div class="d-flex flex-wrap gap-2 mt-3 mb-4">
                        <% job.skills.forEach(skill => { %>
                            <span class="btn btn-outline-info"><%= skill %></span>
                        <% }) %>
                    </div>
                </div>
            <% } %>
            <div class="mb-2"><strong>No of Openings:</strong> <%= job.numofOpenings %></div>
            <div class="mb-2"><strong>Applied Applicants:</strong> <%= job.applicants.length %></div>
            <% if(locals.typeOfUser === "Recruiter"){ %>
                <a href="/job/applicants/job/<%= job.id %>" class="btn btn-primary mt-3">Applicants Details</a>
            <% }else{ %>
                <a href="/job/apply/<%= job.id %>" class="btn btn-primary mt-3">Apply For This Job</a>
            <% } %>

        </div>
    <% } %>
</div>